name: Build on PR

on:
  pull_request:

permissions:
  checks: write
  pull-requests: write
  contents: read
  packages: read
  security-events: read  # This is required to handle authentication to our artifact publishing API

jobs:
  event-file:
    name: "Upload event file"
    runs-on: ubuntu-latest
    steps:
    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        name: Event File
        path: ${{ github.event_path }}
  build-pr:
    uses: ./.github/workflows/build-yocto.yml
  schema-check:
    uses: ./.github/workflows/lava-schema-check.yml

